*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #060b0f;
  color: #fff;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.6rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 11, 15, 0.97);
  z-index: 999;
}

.showpopup {
  display: block;
}

.hidepopup {
  display: none;
}

.overlay__header {
  background-color: rgba(6, 11, 15, 0.97);
  display: grid;
  grid-template-columns: auto 80%;
}

.overlay__header li {
  list-style: none;
  padding: 2.5rem 10%;
}

.overlay__links li a {
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.header__nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.overlay__header li a:nth-child(2) {
  color: #bbd7e8;
}

.overlay__header li:nth-child(2) a {
  color: #bbd7e8;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2em;
}

.overlay__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
}

.overlay__header li a img {
  filter: brightness(0) invert(100%);
  width: 3.5rem;
}

.header {
  height: 100vh;
  background-image: url(../images/bcf_logo_001.jpg);
  background-size: cover;
  background-position: top;
}

.header__nav ul {
  display: grid;
  padding: 4rem 20%;
  grid-template-columns: auto auto auto auto auto auto;
}

.header__nav ul li {
  text-align: center;
  list-style: none;
}

.header__nav ul li:nth-child(1) {
  display: none;
}

.header__nav ul li:nth-child(5) a {
  color: #bbd7e8;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2em;
}

.monu-icon {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.monu-line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 2px;
}

@media (max-width: 1030px) {
  .header__nav ul li {
    grid-template-rows: auto auto;
  }

  .header__nav ul li:nth-child(5) {
    order: -1;
    grid-column: span 6;
    align-items: center;
  }
}

@media (max-width: 769px) {
  .header__nav ul li:not(:nth-child(5)) {
    display: none;
  }

  .header__nav ul li:nth-child(1) {
    display: flex;
  }

  .header__nav ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 4rem 2%;
  }

  .header__nav ul li:nth-child(5) {
    order: 1;
    grid-column: initial;
    align-items: center;
    text-align: left;
  }
}
